{% extends 'contracts/contractwizard/new_contract_base.html' %}
{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block panel_content %}
    <div class="col-md-5">
        <div class="panel panel-alt">
            <div class="panel-heading"> <span class="panel-title"> <i class="fa fa-file-o"></i> {% trans "Contract name and template" %}</span></div>
            <div class="panel-body">
                <form action="{% url "new_contract" %}" method="post" class="form-horizontal" >{% csrf_token %}
                    {% for field in form %}
                    {{ field.error }}
                    {% endfor %}
                    <h4>{% trans "Step 4: Finalize your contract." %}</h4>
                    <p>{% trans "In this step you can set additional options for the newly created contract, like its owners and other meta data." %}</p>
                    <p>{% trans "Contract owners will be able to see this contract and make modifications. All owners will be notified whenever a contract is changed." %}</p> 
                    <hr>

                    {{ wizard.management_form }}
                    {{ wizard.form.media }}
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ wizard.form.title.label }}</label>
                        <div class ="col-md-9">
                            {{ wizard.form.title }}
                        </div>
                    {{ wizard.form.title.errors }}
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ wizard.form.status.label }}</label>
                        <div class ="col-md-9">
                            {{ wizard.form.status }}
                        </div>
                    {{ wizard.form.status.errors }}
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ wizard.form.owners.label }}</label>
                        <div class ="col-md-9">
                            {{ wizard.form.owners }}
                        </div>
                    {{ wizard.form.owners.errors }}
                    </div>
                    
                    
                    <div class="form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-9">
                            <div class="cBox cBox-purple cBox-inline" >
                                {{ wizard.form.notify_owners }}
                                <label for="id_{{ wizard.steps.step0 }}-notify_owners">{{ wizard.form.notify_owners.label }}</label>
                                {{ wizard.form.notify_owners.errors }}
                            </div>
                        </div>
                    </div>   
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ wizard.form.valid_from.label }}</label>
                        <div class ="col-md-9">
                            {{ wizard.form.valid_from }}
                        </div>
                    {{ wizard.form.valid_from.errors }}
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ wizard.form.valid_to.label }}</label>
                        <div class ="col-md-9">
                            {{ wizard.form.valid_to }}
                        </div>
                    {{ wizard.form.valid_to.errors }}
                    </div>



                    {% block wizard_buttons %}
                        {{ block.super  }}
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}



{% block extrascripts %}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                $("#id_{{ wizard.steps.step0 }}-valid_from").datepicker()
                $("#id_{{ wizard.steps.step0 }}-valid_to").datepicker()
                $('#id_{{ wizard.steps.current }}-status').multiselect();
               
            });
        </script>
        <!-- Needed for autocomplete-light package -->
        {% include 'autocomplete_light/static.html' %}
{% endblock %}

