{% extends 'contracts/contractwizard/new_contract_base.html' %}
{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block panel_content %}
    <div class="col-md-8">
        <div class="panel panel-alt">
            <div class="panel-heading"> <span class="panel-title"> <i class="fa fa-file-o"></i> {% trans "Template fields" %}</span></div>
            <div class="panel-body">
                <form action="{% url "new_contract" %}" method="post" class="form-horizontal" >{% csrf_token %}
                    {% for field in form %}
                        {{ field.error }}
                    {% endfor %}

                    <h4>{% trans "Step 3: edit Template" %}</h4>
                    <p>{% trans "Feel free now to finely edit the body of the contract to best suit your needs. At the next step you will be able to set additional options for your template." %}</p>
                    <hr> 
                    {{ wizard.management_form }}
                    {{ wizard.form.media }}
                    
                    {{ wizard.form.body_edited }}

                    <br>

                    {% block wizard_buttons %}
                        {% block next %}
                            {{ block.super  }}
                        {% endblock %}
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

