{% extends 'contracts/contractwizard/new_contract_base.html' %}
{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block panel_content %}
    <div class="col-md-6">
        <div class="panel panel-alt">
            <div class="panel-heading"> <span class="panel-title"> <i class="fa fa-file-o"></i> {% trans "Template fields" %}</span></div>
            <div class="panel-body">
                <form action="{% url "new_contract" %}" method="post" class="form-horizontal" id="formwizard" >{% csrf_token %}
                    {% for field in form %}
                        {{ field.error }}
                    {% endfor %}

                    <h4>{% trans "Step 2: fill In Template" %}</h4>
                    <p>{% trans "At this step you are required to fill all the blank fields in the template. At a later step it will be possible to finely modify the whole body of the text." %}</p>
                    <hr >
                    {{ wizard.management_form }}
                    {{ wizard.form.media }}
                    
                    {{ wizard.form.body }}

                    <script id="contract-template" type="text/x-handlebars-template" >
                        {% autoescape off %}
                        {{ template_content }}
                        {% endautoescape %}
                    </script>
                    <div id="contract-template-rendered"></div>  

                    {% block wizard_buttons %}
                        {{ block.super  }}
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrascripts %}
 {{ block.super }}
 
 <script type="text/javascript" src={% static "js/handlebars.js" %}></script>
 <script type="text/javascript" src={% static "js/bootstrap-editable.min.js" %}></script>

 <script>
    $(function() {
        var source = $("#contract-template").html();
        var compiled = Handlebars.compile(source);

        var context = {field: '<span class="editable editable-generic"></span>',
                        date: '<span class="editable editable-date"  ></span>',
                        multiline: '<span class="editable editable-multi"></span>'
                        };
                        

        var rendered_template = compiled(context)
        $("#contract-template-rendered").html(rendered_template);

        //$.fn.editable.defaults.mode = 'inline';
        $(".editable-generic").editable({
            mode: 'popup',
            });
        $(".editable-multi").editable({
            mode: 'popup',
            type: 'textarea',
            });
        $(".editable-date").editable({
            mode: 'popup',
            type: 'date',
            format: 'dd-mm-yyyy',
            viewformat: 'dd/mm/yyyy',
            datepicker: {
                    weekStart: 1
                }
            });

        $('#formwizard').on('submit', function(e) {
                $("#id_{{ wizard.steps.current }}-body").val($("#contract-template-rendered").html());
        });

    })
   
    
 </script>   
{% endblock %}


