{% extends 'frontend/main.html' %}
{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}


{% block extrahead %}
  {{ wizard.form.media }}
{% endblock %}

<!-- Start: Content -->
  {% block app_content %}
    <section id="content_wrapper">
        <div id="topbar">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active"><a href="#">{{ request.user.first_name }}{% trans "'s dashboard'" %}</a></li>
            <li class="crumb-icon"><a href="#"><span class="fa fa-file-text-o"></span></a></li>
            <li class="crumb-trail">{% trans "New Contract Wizard " %}</li>
            </ol>
        </div>
        </div>
        <div id="content" class="prn">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel" >
                        <div class="panel-heading panel-visible">
                            <span class="panel-title">
                                <span class="fa fa-magic"></span>
                                {% trans "New Contract Wizard " %} ({{ wizard.steps.step1 }}/{{ wizard.steps.count }})
                            </span>
                        </div>
                        <div class="panel-body">
                            {% block panel_content %}
                                {% block wizard_buttons %}
                                    {% block prev %}
                                        {% if wizard.steps.prev %}
                                            <button class="btn bg-purple2" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">
                                                <span class="glyphicon glyphicon-arrow-left"></span> {% trans "Previous" %}
                                            </button>
                                        {% endif %}
                                    {% endblock %}
                                    {% block next %}
                                            <button class="btn bg-purple2" type="submit" />
                                                {% trans "Next" %} <span class="glyphicon glyphicon-arrow-right"></span>
                                            </button>
                                    {% endblock %}
                                {% endblock %}
                            {% endblock %}
                        </div>
                    </div>  
                </div>
                </div>
        </div>

    </section>
    {% endblock %}
  <!-- End: Content --> 

