{% extends 'contracts/contractwizard/new_contract_base.html' %}
{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block panel_content %}
    <div class="col-lg-6">
        <div class="panel panel-alt">
            <div class="panel-heading"> <span class="panel-title"> <i class="fa fa-file-o"></i> {% trans "Contract name and template" %}</span></div>
            <div class="panel-body">
                <form action="{% url "new_contract" %}" method="post" class="form-horizontal" >{% csrf_token %}
                    {% for field in form %}
                    {{ field.error }}
                    {% endfor %}
                    <h4>{% trans "Step 1: Choose a name and Template for your contract" %}</h4>
                    <p>{% trans "This Wizard allows you to compose a new contract. You will be guided through the selection of a proper template and parameters. The body of the contract will be fully editable on the last step. " %}</p>
                    <hr>

                    {{ wizard.management_form }}
                    {{ wizard.form.media }}

                    <div class="form-group">
                        <label class="col-md-2 control-label">{{ wizard.form.template.label }}</label>
                        <div class ="col-md-10">
                            {{ wizard.form.template }}
                        </div>
                    {{ wizard.form.template.errors }}
                    </div>
                    {% block wizard_buttons %}
                        {{ block.super  }}
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-alt" >
            <div class="panel-heading"> <span class="panel-title"> <i class="fa fa-file-code-o"></i> {% trans "Template Preview: " %}</span></div>
            <div class="panel-body">
                <div id="templatePreview" style="font-size:x-small;" ></div>
            </div>
    </div>
    </div>
{% endblock %}

{% block second_column %}
   <div class="col-md-3">
    </div>
{% endblock %}



{% block extrascripts %}
        <script type="text/javascript">
            jQuery(document).ready(function () {

                $('#id_{{ wizard.steps.current }}-template').multiselect();
                $('#id_{{ wizard.steps.current }}-template').change(function() {
                    var id = $(this).val();
                    var url = '{% url "get_template" id='1234' %}';
                    url = url.replace( '1234', $(this).val() );
                        $.get(url, function(data){

                            $('#templatePreview').hide(500, function(){
                                $('#templatePreview').html(data);
                                $('#templatePreview').show(500);
                            })
                        })
                });
                $('#id_{{ wizard.steps.current }}-template').change();

            });
        </script>

{% endblock %}

