{% extends 'frontend/contractwizard/new_contract_base.html' %}
{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block form_content %}
    {% for field in form %}
    {{ field.error }}
    {% endfor %}
    <form action="{% url "new_contract" %}" method="post">{% csrf_token %}
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form }}
                {% endfor %}
            {% else %}
                {% for field in wizard.form %}
                <div class="form-group">
                    <div class="input-group"> <span class="input-group-addon">{{ field.label }}</span>
                        {{ field }}
                </div>
                        {{ field.errors }}
                </div>
                {% endfor %}
            {% endif %}
        {% if wizard.steps.prev %}
        <button class="btn bg-purple2" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans "Previous" %}</button>
        {% endif %}
        <button class="btn bg-purple2" type="submit" />{% trans "Next" %} <span class="glyphicon glyphicon-arrow-right"></span></button>
    </form>
{% endblock %}
