{% extends 'contracts/contractwizard/new_contract_base.html' %}
{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block panel_content %}
    <div class="col-md-5">
                    <h3>{% trans "Congratulations!" %}<h3>
                    <p>{% trans "Your contract was successfully created. It will now appear in your " %}<a href="{% url "assets_list" %}">{% trans "assets list" %}</a></p>
            
    </div>
{% endblock %}



{% block extrascripts %}
        <script type="text/javascript">
        
        
        </script>

{% endblock %}

