
{% extends 'frontend/main.html' %}
{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}


{% block extrahead %}
{% endblock %}

<!-- Start: Content -->
  {% block app_content %}
    <section id="content_wrapper">
        <div id="topbar">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active"><a href="#">{{ request.user.first_name }}{% trans "'s dashboard'" %}</a></li>
                <li class="crumb-trail">{% trans "Assets list" %}</li>
                <li class="crumb-trail">{% trans "Edit Contract nr." %}{{ form.instance.id }}</li>
            </ol>
        </div>
        </div>
        <div id="content" class="prn">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel" >
                        <div class="panel-heading panel-visible">
                            <span class="panel-title">
                                <span class="fa fa-edit"></span>
                                {% trans "Edit" %}
                            </span>
                        </div>
                        <div class="panel-body">
                            {% block panel_content %}
                                <form action="{% url "edit_contract" id=form.instance.id %}" method="post" class="form-horizontal" >{% csrf_token %}
                                    {{ form.media }}

                                    <p>Here you and the other owners can make modifications to this contract. All changes will be made final once you press the Save Changes button.</p>
                                    <hr>
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ form.name.label }}</label>
                                        <div class ="col-md-9">
                                            {{ form.name }}
                                        </div>
                                    {{ form.name.errors }}
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ form.status.label }}</label>
                                        <div class ="col-md-9">
                                            {{ form.status }}
                                        </div>
                                    {{ form.status.errors }}
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ form.valid_from.label }}</label>
                                        <div class ="col-md-9">
                                            {{ form.valid_from }}
                                        </div>
                                    {{ form.valid_from.errors }}
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ form.valid_to.label }}</label>
                                        <div class ="col-md-9">
                                            {{ form.valid_to }}
                                        </div>
                                    {{ form.valid_to.errors }}
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ form.edited_template.label }}</label>
                                        <div class ="col-md-9">
                                            {{ form.edited_template }}
                                            {{ form.edited_template.errors }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class ="col-md-9">
                                            <button class="btn bg-purple2 btn-lg " type="submit"><span class="fa fa-save"></span> {% trans "Save Changes" %}</button>
                                        </div>
                                    </div>



                                </form> 
                            {% endblock %}
                        </div>
                    </div>  
                </div>
                </div>
        </div>

    </section>
    {% endblock %}
  <!-- End: Content --> 

{% block extrascripts %}
        <script type="text/javascript">
            jQuery(document).ready(function () {
                $("#id_valid_from").datepicker()
                $("#id_valid_to").datepicker()
                $('#id_status').multiselect();
               
            });
        </script>
        <!-- Needed for autocomplete-light package -->
        {% include 'autocomplete_light/static.html' %}
{% endblock %}
