{% load i18n %}
{% load thumbnail %}

<span class="block user" data-value="{{ choice.pk }}"  >
    <img src="{% thumbnail choice.picture "25x25" crop="center" %}" style="display: inline-block; vertical-align: middle;" >&nbsp;
    <span>{{ choice.owner.get_full_name }} ({{ choice.owner.username }})</span>
</span>
