{% extends "admin/base.html" %}

{% load staticfiles %}


{% block extrastyle %}
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <style>
      #header {
          background-color: #08081F;
          color: #FFF !important;
      }

    .breadcrumbs {
        font-size: 14px !important;
    }

    caption {
       background: #00003D !important;
    }

    body {
        font-family: 'Ubuntu', sans-serif !important;
    }

    </style>
{%  endblock %}

{% block title %}{{ app_name }} {{ app_version }} Admin{% endblock %}

{% block extrahead %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="http://recursive.ee/images/logobright.png"  style="max-height: 1.5em;" />
    </a>
</h1>
{% endblock %}


{% block footer %}
    <div id="footer">

    </div>
{% endblock %}
