.container {max-width: 1050px !important;}
.bg-logo{background:url(../img/bg-logo.png) no-repeat center top #f5f5f5;}
#return-arrow{color:#555;padding-left:15px;padding-top:15px;position:fixed;opacity:0.4;cursor:pointer;display:block;}
#return-arrow i.fa{float:left;padding-top:2px;}
#return-arrow span{float:left;padding-left:15px;padding-top:0;font-size:16px;}
#return-arrow:hover{opacity:1;}
#return-arrow:hover i.fa{opacity:0.7;}
a{color:#08c;}
body{font-family:'Open Sans',Helvetica, Arial, sans-serif;color:#686866;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;font-size-adjust:100%;font-weight:400;width:100%;background:#FAFAFA;font-size:14px;margin:0;padding:0;}
.docs-nav{position:fixed;top:55px;width:250px;}
.docs-nav li.docs-nav-logo{max-width:160px;margin-bottom:21px;margin-left:10px;}
.docs-nav > li{margin:5px;}
.docs-nav > li > a{font-size:14px;color:#a898ec;font-weight:600;border-bottom:2px solid transparent;padding:7px 15px;}
.docs-nav > li > a:hover{color:#a898ec;}
.docs-nav > li.active > a{background-color:#f1f1f1;border-bottom:2px solid #a898ec;}
.docs-nav li.active > ul{display:block;padding-top:7px;padding-bottom:7px;}
.docs-nav ul > li a{font-size:12px;color:#999;font-weight:600;padding:8px 15px;}
.docs-nav ul > li a:hover{background-color:transparent;}
.docs-nav ul > li.active a{background-color:transparent;font-weight:700;color:#666;}
#docs-content{margin-top:60px;background:#FFF;min-height:880px;border:1px solid #DDD;padding:25px;}
.page-header{color:#bf0d14;border-bottom-color:#DDD;}
.page-header:first-child{color:#666;}
.well-tabs{position:relative;}
.well-tabs li{float:left;margin:4px 6px;}
.well-tabs li a{background:#f0f0f0;border-radius:4px;border:1px solid #DDD;font-size:11px;font-weight:600;color:#888;padding:6px 8px;}
.well-tabs li a:hover,.well-tabs li.active a{background-color:#FFF;}
.panel-heading.example{border:1px solid #c9c9c9;}
.panel-menu.example{border:1px solid #c9c9c9;border-top:0;margin-top:-1px;}
.panel-sidemenu.example{border-left:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;height:130px;overflow:hidden;margin:0;padding:0;}
.panel-sidemenu.example .nav{margin-top:15px;}
.panel-body.example{border-right:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;height:130px;overflow:hidden;background:#FFF;width:77%;margin:0;padding:0;}
.panel-body.example2{border:1px solid #c9c9c9;height:130px;overflow:hidden;background:#FFF;border-top:0;}
.panel-footer.example{border:1px solid #c9c9c9;border-top:0;background:#eee;}
.helper-modal-btn{cursor:pointer;}
#helperModal .modal-dialog{width:700px;}
#helperModal .modal-body{overflow-x:scroll;max-height:700px;}
#panelModal .modal-content{background-color:#eee;}
#panelModal .modal-dialog{width:800px;}
#panelModal .panel-sidemenu{width:21%;}
#panelModal .panel-sidemenu nav{padding-left:20px;}
.datatables-toolbar{margin-bottom:15px;}
.datatables-toolbar .datatable-search{background:#fff;color:#777;font-size:14px;outline:none;max-height:35px;border-radius:3px;border:1px solid #DDD;-webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.07);box-shadow:inset 0 0 2px rgba(0,0,0,0.07);padding:5px 8px;}
div.dataTables_info{padding-top:7px;color:#999;}
#table_data_length .chosen-single{height:30px;line-height:27px;color:#888;}
.datatables-footer{margin-top:10px;}
.datatables-footer .pagination{padding-top:2px;margin:0;}
.pagination > li > a,.pagination > li > span{padding:3px 7px;}
.docs-nav li > ul,#plugin_table_length{display:none;}
.table-striped > tbody > tr:nth-child(odd) > td,.table-striped > tbody > tr:nth-child(even) > td{padding:10px 8px;}
.page-header {
	margin: 40px 0 20px;
}