{% extends 'frontend/main.html' %}
{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}



<!-- Start: Content -->
  {% block app_content %}
  <section id="content_wrapper">
    <div id="topbar">
      <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active"><a href="#">{{ request.user.first_name }}{% trans "'s dashboard" %}</a></li>
                <li class="crumb-trail">{% trans "Assets list" %}</li>
            </ol>
        </div>
    </div>
    <div id="content">
       <div class="row">
        <div class="col-md-12">
          <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title hidden-xs"> <span class="glyphicon glyphicon-tasks"></span> {% trans "My contracts" %}</div>
            </div>
            <div class="panel-body pbn">

                <a href="{% url "new_contract" %}" class="btn btn-sm bg-purple2" >
                    <span class="fa fa-file-o"></span>
                    {% trans "New Contract" %}
                </a>
                <br><br>
              <table class="table table-striped table-bordered table-hover" id="datatable">
                <thead>
                  <tr>
                      <th>{% trans "Contract name" %}</th>
                      <th class="hidden-xs">{% trans "Owner(s)" %}</th>
                      <th class="visible-lg">{% trans "Validity" %}</th>
                      <th class="visible-lg">{% trans "Last modified (by)" %}</th>
                      <th>{% trans "Status" %}</th>
                      <th class="text-center hidden-xs">{% trans "Actions" %}</th>
                  </tr>
                </thead>
                <tbody>
                    {% for contract in contracts %}
                    <tr data-row-id="{{ contract.id }}">
                            <td>{{ contract.name }}</td>
                            <td class="hidden-xs">
                                {% for owner in contract.owners.all %}
                                {{ owner.first_name }} {{ owner.last_name }}{% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </td>
                            <td class="visible-lg">{{ contract.valid_from }}-{{ contract.valid_to }}</td>
                            <td class="visible-lg">{{ contract.modified }} ({{ contract.last_editor }})</td>
                            <td>{{ contract.get_status_display }}</td>
                            <td class="hidden-xs text-center"><div class="btn-group">
                                <button type="button" onclick="window.location='{% url "edit_contract" id=contract.id %}'" class="btn bg-grey2 btn-gradient btn-sm"> <span class="glyphicons glyphicons-pencil"></span> </button>
                                <button type="button" class="btn bg-purple2 btn-gradient btn-sm" data-action="showPreview" data-target="{{ contract.id }}"> <span class="glyphicon glyphicon-folder-open"></span> </button>
                                <button type="button" class="btn bg-black btn-gradient btn-sm dropdown-toggle" data-toggle="dropdown"> <span class="fa fa-ellipsis-v"></span> </button>
                                <button type="button" class="btn bg-red btn-gradient btn-sm" data-action="deleteConfirm" data-target="{{ contract.id }}" > <span class="glyphicons glyphicons-bin"></span> </button>
                                <ul class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
                                <li><a><i class="fa fa-user"></i> Sign </a></li>
                                <li><a><i class="fa fa-envelope-o"></i> Send to User.. </a></li>
                                <li><a><i class="fa fa-tag"></i> Sign digitally </a></li>
                                <li><a><i class="fa fa-file-text-o"></i> Duplicate </a></li>
                                </ul>
                            </div></td>
                        </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Modals -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Cancel" %}" ><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="deleteModalLabel">{% trans "Confirm Deletion" %}</h4>
              </div>
              <div class="modal-body">{% trans "Are you sure you want to remove this contract from your assets list? The other existing users will still be able to edit the document, and you will need to be readded as owner by one of them to regain access to this file." %}</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="button" class="btn btn-danger" data-action="delete" data-target="" ><span class="glyphicons glyphicons-bin"></span> {% trans "Delete" %}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Cancel" %}" ><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="previewModalLabel">{% trans "Document preview" %}</h4>
              </div>
              <div class="modal-body"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
              </div>
            </div>
          </div>
        </div>

      <!-- /Modals -->
    </div>
  </section>
    {% endblock %}
  <!-- End: Content -->


{% block extrascripts %}
    
    <script type="text/javascript" src={% static "vendor/plugins/datatables/js/jquery.dataTables.min.js" %}></script>
    <script type="text/javascript" src={% static "vendor/plugins/datatables/js/datatables.js" %}></script>
    <script type="text/javascript" src={% static "vendor/plugins/chosen/chosen.jquery.js" %}></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            // Init Datatables with Tabletools Addon
            $('#datatable').dataTable( {
                    "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [ -1 ] }],
                    "oLanguage": { "oPaginate": {"sPrevious": "", "sNext": ""} },
                    "iDisplayLength": 15,
                    "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "sDom": 'T<"panel-menu dt-panelmenu"lfr><"clearfix">tip',
                    "oTableTools": {
                    }
            });

            // Add Placeholder text to datatables filter bar
            $('.dataTables_filter input').attr("placeholder", "Enter Filter Terms Here....");

            // Manually Init Chosen on Datatables Filters
            $("select[name='datatable_length']").chosen();

            // Bind delete modal dialog action
            $("button[data-action='deleteConfirm']").click(function () {
                var button = $("#deleteModal").find("button[data-action='delete']");
                button.data('target',$(this).data('target'));
                $('#deleteModal').modal();
            });
            
            // Bind delete action
            $("button[data-action='delete']").click(function () {
                var url = '{% url "delete_contract" id=0 %}'.replace("0",$(this).data('target'));
                var id = $(this).data('target');
                $.post( url )
                    .done(function(data, textStatus, jqXHR) {
                      $("tr[data-row-id="+id+"]").addClass("animated fadeOutRight");
                    })
                    .fail(function(data, textStatus, jqXHR) {
                    })
                $('#deleteModal').modal('hide');
            });

            // Bind preview action
            $("button[data-action='showPreview']").click(function () {
                var url = '{% url "get_contract_body" id=0 %}'.replace("0",$(this).data('target'));
                var id = $(this).data('target');
                $.get( url )
                    .done(function(data, textStatus, jqXHR) {
                        $("#previewModal").find(".modal-body").html(data);
                        $("#previewModal").modal();
                    })
                    .fail(function(data, textStatus, jqXHR) {
                        alert(data.responseText);
                    })
            });


        });
    </script>

{% endblock %}

