{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<title>{% block title %}Oblicity Web Application{% endblock %}</title>
<meta name="keywords" content="Oblicity contract management system" />
<meta name="description" content="Oblicity Web Application - Online Contract Management System">
<meta name="author" content="Recursive Software Development Tallinn">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Font CSS (Via CDN) -->
<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800'>

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href={% static "vendor/bootstrap/css/bootstrap.min.css" %}>

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href={% static "css/vendor.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/vendor/plugins/multiselect/bootstrap-multiselect.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/vendor/plugins/datepicker/datepicker.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/theme.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/utility.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/custom.css" %}>

<!-- Favicon -->
<link rel="shortcut icon" href={% static "img/favicon.ico" %}>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

{% block scripts %}

    <!-- Google Map API -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

    <!-- jQuery -->
    <script type="text/javascript" src={% static "vendor/jquery/jquery-1.11.1.min.js" %}></script>
    <script type="text/javascript" src={% static "vendor/jquery/jquery_ui/jquery-ui.min.js" %}></script> <!-- Bootstrap -->
    <script type="text/javascript" src={% static "vendor/bootstrap/js/bootstrap.min.js" %}></script>

    <!-- Page Plugins -->
    <script type="text/javascript" src={% static "vendor/plugins/backstretch/jquery.backstretch.min.js" %}></script>
    <script type="text/javascript" src={% static "vendor/plugins/multiselect/bootstrap-multiselect.js" %}></script>
    <script type="text/javascript" src={% static "vendor/plugins/datepicker/bootstrap-datepicker.js" %}></script>

    <script type="text/javascript" src={% static "vendor/editors/summernote/summernote.js" %}></script>

    <!-- Theme Javascript -->
    <script type="text/javascript" src={% static "js/utility/spin.min.js" %}></script>
    <script type="text/javascript" src={% static "js/utility/underscore-min.js" %}></script>
    <script type="text/javascript" src={% static "js/notifications.js" %}></script>
    <script type="text/javascript" src={% static "js/main.js" %}></script>
    <script type="text/javascript" src={% static "js/custom.js" %}></script>




    <script type="text/javascript">
    jQuery(document).ready(function () {
        "use strict";
        // Init Theme Core
         Core.init();
    });
    </script>

    <script>
        /**
        * setup JQuery's AJAX methods to setup CSRF token in the request before sending it off.
        * http://stackoverflow.com/questions/5100539/django-csrf-check-failing-with-an-ajax-post-request
        */

        function getCookie(name)
        {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?

        if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
        }
        }
        }
        return cookieValue;
        }

        $.ajaxSetup({
        beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
        // Only send the token to relative URLs i.e. locally.
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
        }
        });
    </script>


    <script type="text/javascript">
    jQuery(document).ready(function () {
             // Init Full Page BG(Backstretch) plugin
            $.backstretch('{% static "img/background.jpg" %}');

            {% for message in messages %}
                $.notify('{{ message }}', {
                        className: '{{ message.tag }}',
                    });
            {% endfor %}
    });
    </script>
{% endblock %}
{% block extrascripts %}
{% endblock %}

{% block extrahead %}{% endblock %}

</head>

{% block body %}
{% endblock %}




</html>
