{% extends "frontend/base.html" %}
{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}


{% block body %}
<body>
<!-- Start: Header -->
{% include "frontend/topbar.html" %}
<!-- End: Header --> 
<!-- Start: Main -->
<div id="main"> 
  <!-- Start: Sidebar -->
  {% include "frontend/sidebar.html" %}
  <!-- End: Sidebar -->
  <!-- Start: Content -->
  {% block app_content %}
    {% endblock %}
  <!-- End: Content --> 
  
  <!-- Start: Right Sidebar -->
  {% include "frontend/sidebar_right.html" %}
  <!-- End: Right Sidebar --> 
</div>
<!-- End: Main --> 
</body>

<!-- End: Main -->
{% endblock %}
