{% extends 'frontend/main.html' %}
{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}



<!-- Start: Content -->
  {% block app_content %}
    <section id="content_wrapper">
        <div id="topbar">
        <div class="topbar-left">
            <ol class="breadcrumb">
                <li class="crumb-active"><a href="#">{{ request.user.first_name }}{% trans "'s dashboard" %}</a></li>
            <li class="crumb-icon"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="crumb-trail">{% trans "Profile" %}</li>
            </ol>
        </div>
        </div>
        <div id="content" class="prn">
            <div class="row">
                <div class="col-md-3 pl25 pr25 ">
                    <h5 class="text-muted"> {% trans "Account" %} </h5>
                <hr class="short">
                <p>{% trans "This is your main profile page. When you keep your profile updated, you are helping other users get to know who you are. Remember that your tag line will be public." %}</p>
                <h5 class="mt30 text-muted"> Statistics </h5>
                <hr class="short">
                <p class="fs12 text-muted"> <span class="glyphicons glyphicons-user mr10 text-purple"></span> 122 Connections</p>
                <p class="fs12 text-muted"> <span class="glyphicons glyphicons-user_add mr10 text-orange"></span> 3 Requests</p>
                <p class="fs12 text-muted"> <span class="glyphicons glyphicons-star mr10 text-blue2"></span> 74 Contracts </p>
                <h5 class="mt30 text-muted"> Purchased Bundles </h5>
                <hr class="short">
                <p class="mb5"><span class="label bg-purple mr10">Commercial</span><span class="label bg-purple mr10">Rent</span><span class="label bg-purple mr10">Filings</span><span class="label bg-purple mr10">Loans</span><span class="label bg-purple mr10">Proceedings</span></p>
                <p><span class="label bg-purple mr10">Divorces</span><span class="label bg-purple mr10">Testaments</span><span class="label bg-purple mr10">Extras</span></p>
                </div>
                <div class="col-md-8 profile-tabs pl25">
                <div class="tab-block">
                    <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile1" data-toggle="tab"> Edit Profile</a></li>
                    <li><a href="#profile2" data-toggle="tab">Notifications</a></li>
                    </ul>
                    <div class="tab-content border-right-none pn">
                    <div id="profile1" class="tab-pane p30 active">
                        <div class="row">
                        <div class="col-sm-5 pr15">
                            <h5 class="text-muted"> {% trans "Basic Information" %} </h5>
                            <hr class="short mb35"/>
                            <form action="{% url "profile" %}" id="profileForm" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                            <div class="form-group">
                            <div class="input-group mb10"> <span class="input-group-addon"><span class="glyphicons glyphicons-old_man"></span> </span>
                                <input class="form-control" type="text" value="{{ request.user.username }} " disabled="disabled">
                            </div>
                            </div>
                            <div class="form-group">
                            <div class="input-group mb10"> <span class="input-group-addon"><span class="glyphicons glyphicons-credit_card"></span> </span>
                                {{ form.idcard }}
                            </div>
                            </div>
                            <div class="form-group">
                            <div class="input-group mb10"> <span class="input-group-addon"><span class="glyphicons glyphicons-message_flag"></span> </span>
                                <input class="form-control" type="text" value="{{ request.user.email }}", disabled="disabled">
                            </div>
                            </div>
                            <div class="form-group">
                            <div class="input-group mb10"> <span class="input-group-addon"><span class="glyphicons glyphicons-gift"></span> </span>
                                {{ form.birth }}
                            </div>
                                {{ form.birth.errors }}
                            </div>
                            <div class="form-group">
                            <div class="input-group mb10"> <span class="input-group-addon"><span class="glyphicons glyphicons-home"></span> </span>
                                {{ form.address }}
                            </div>
                                {{ form.address.errors }}
                            </div>
                            <div class="form-group">
                            <div class="input-group mb10"> <span class="input-group-addon"><span class="glyphicons glyphicons-book_open"></span> </span>
                                {{ form.profession }}
                            </div>
                                {{ form.profession.errors }}
                            </div>
                            <div class="form-group">
                            <div class="input-group mb10"> <span class="input-group-addon"><span class="glyphicons glyphicons-phone"></span> </span>
                                {{ form.phone }}
                            </div>
                                {{ form.phone.errors }}
                            </div>
                            <div class="form-group">
                            <div class="input-group mb10"> <span class="input-group-addon"><span class="glyphicons glyphicons-globe"></span> </span>
                                {{ form.website }}
                            </div>
                                {{ form.website.errors }}
                            </div>
                        </div>
                        <div class="col-sm-5 pl15">
                            <h5 class="text-muted"> {% trans "Profile Picture" %} </h5>
                            <hr class="short mb35"/>
                            {% thumbnail form.instance.picture "250x250" crop="center" as im %}
                            <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" /><br>
                            {% endthumbnail %}
                                {{ form.picture }} 
                                <br> <p class="text-purple2"><span class="glyphicons glyphicons-user mr10"></span>Please tell other users about yourself.</p>
                            <div class="form-group mb20">
                                {{ form.description }}
                            </div>
                            <button class="btn bg-purple2 btn-lg pull-right" type="submit">{% trans "Update Profile" %}</button>
                        </form>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            </section>
    {% endblock %}
  <!-- End: Content -->


{% block extrascripts %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#id_birth').datepicker();
        });
    </script>

{% endblock %}

