﻿{% extends "frontend/base.html" %}
{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}


{% block body %}
<body class="minimal login-page">

<!-- Start: Main -->
<div id="main">
  <div id="content">
    <div class="row">
        <div id="page-logo"> <img src={% static "img/logos/logo-white.png" %} class="img-responsive" alt="logo"> </div>
    </div>
    <div class="row">
      <div class="panel-bg animated {% if form.errors %} shake{% endif %}">
        <form action="{% url "resetpass" %}" method="POST" id="resetpasswordForm">{% csrf_token %}
        <div class="panel">
            <div class="panel-heading"> <span class="panel-title"> <span class="fa fa-lock text-purple2"></span> {% trans "Password reset " %}</span> </div>
            <div class="panel-body">
                <p>{% trans "This procedure allows you to reset the password for your account. You must provide both your username and associated Email address." %}</p>
                <p>{% trans "On successful password reset, we will send you an Email with the new password, which must be changed within 3 days." %}</p>
                <div class="alert alert-error" role="alert">{{ form.non_field_errors }}</div>
                    <div class="form-group">
                        <div class="input-group"> <span class="input-group-addon">{% trans "Username" %} </span>
                            {{ form.username }}
                        </div>
                        {{ form.username.errors }}
                    </div>
                    <div class="form-group">
                        <div class="input-group"> <span class="input-group-addon">{% trans "Email address" %} </span>
                            {{ form.email }}
                        </div>
                        {{ form.email.errors }} 
                    </div>
            </div>
          <div class="panel-footer">
              <a class="btn btn-sm bg-purple2 pull-right" onclick="$('#resetpasswordForm').submit()" href="#">{% trans "Reset password" %}</a>
              
              <input type="submit" style="display:none;">
            <span class="text-muted fs12">
                <a href="{% url "signin" %}"> {% trans "Go back" %}</a>
            </span>
            <div class="clearfix"></div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
{% include "frontend/footer.html" %}
<div class="overlay-black"></div>

</body>
{% endblock %}
