<aside id="sidebar_right">
    <div class="sidebar-right-header">
      <div class="pull-right posr"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-circle text-orange2 fs8"></i> <span class="caret text-muted"></span> </a>
        <ul class="dropdown-menu dropdown-sm" role="menu">
          <li class="menu-arrow">
            <div class="menu-arrow-up"></div>
          </li>
          <li><a href="javascript:void(0);"><i class="fa fa-circle text-green2 pr5"></i> Online</a></li>
          <li><a href="javascript:void(0);"><i class="fa fa-circle text-red2 pr5"></i> Busy</a></li>
          <li class="divider"></li>
          <li><a href="javascript:void(0);"><i class="fa fa-circle text-orange2 pr5"></i> Away</a></li>
        </ul>
      </div>
      <div class="media mtn"> <a class="pull-left mt5" href="#"> <img class="thumbnail thumbnail-sm rounded" src="img/avatars/10.jpg" alt="..."> </a>
        <div class="media-body">
          <h5 class="small mt5 mbn text-cloud"><b>Current Status:</b></h5>
          <h5 class="small text-white"><b>"Away"</b></h5>
        </div>
      </div>
    </div>
    <div class="sidebar_right_content p25">
      <div class="sidebar_right_menu row text-center">
        <div class="col-xs-4 pln"> <a href="calendar.html"> <span class="glyphicons glyphicons-calendar fs22 text-grey2"></span>
          <h5 class="fs11 text-white">Calendar</h5>
          </a> </div>
        <div class="col-xs-4"> <a href="messages.html"> <span class="glyphicons glyphicons-flash fs22 text-orange"></span>
          <h5 class="fs11 text-white">History</h5>
          </a> </div>

        <div class="col-xs-4 prn"> <a href="profile.html"> <span class="glyphicons glyphicons-filter fs22 text-green"></span>
          <h5 class="fs11 text-white">Filters</h5>
          </a> </div>
      </div>
      <hr class="mb25 mtn border-dark3"/>
      <h5 class="text-muted fs13 mb25">Tasks</h5>
      <h5 class="text-white mbn">5/6/2015</h5>
      <p class="text-light6 fs12 fw600 mb15">Review contract <b><a href="edit.php?id=353">#353</a></b></p>
      <h5 class="text-white mbn">7/6/2015</h5>
      <p class="text-light6 fs12 fw600 mb15">Your Oblicity invoice is ready</p>
      <h5 class="text-white mbn">11/7/2015</h5>
      <p class="text-light6 fs12 fw600 mb15">Add T.Rand to <b><a href="edit.php?id=279">#279</a></b> </p>
      <h5 class="text-white mbn">30/11/2015</h5>
      <p class="text-light6 fs12 fw600">Agreement <b><a href="edit.php?id=772">#772</a></b> begins</p>
      <hr class="mb25 mt25 border-dark3"/>

      <h5 class="text-muted fs13 pull-left mr20">Connected users</h5>
      <div class="clearfix"></div>
      <div class="media mt30 border-none"> <a class="pull-left" href="#"> <img class="media-object thumbnail thumbnail-sm rounded" src="img/avatars/<?php echo rand(1,7); ?>.jpg" alt="..."> </a>
        <div class="media-body">
          <h5 class="media-heading text-white mbn">T. Eelsalu</h5>
          <p class="text-muted fs12"> Involved in #353, #449</p>
        </div>
      </div>
      <div class="media border-none"> <a class="pull-left" href="#"> <img class="media-object thumbnail thumbnail-sm rounded" src="img/avatars/<?php echo rand(1,7); ?>.jpg" alt="..."> </a>
        <div class="media-body">
          <h5 class="media-heading text-white mbn">T. Talve</h5>
          <p class="text-muted fs12"> Involved in #353, #774</p>
        </div>
      </div>
      <div class="media border-none"> <a class="pull-left" href="#"> <img class="media-object thumbnail thumbnail-sm rounded" src="img/avatars/<?php echo rand(1,7); ?>.jpg" alt="..."> </a>
        <div class="media-body">
          <h5 class="media-heading text-white mbn">L. Savolainen</h5>
          <p class="text-muted fs12"> Needs to sign #771</p>
        </div>
      </div>
      <div class="media border-none"> <a class="pull-left" href="#"> <img class="media-object thumbnail thumbnail-sm rounded" src="img/avatars/<?php echo rand(1,7); ?>.jpg" alt="..."> </a>
        <div class="media-body">
          <h5 class="media-heading text-white mbn">J. Taivas</h5>
          <p class="text-muted fs12"> Requires you to see #566</p>
        </div>
      </div>
      <div class="media border-none"> <a class="pull-left" href="#"> <img class="media-object thumbnail thumbnail-sm rounded" src="img/avatars/<?php echo rand(1,7); ?>.jpg" alt="..."> </a>
        <div class="media-body">
          <h5 class="media-heading text-white mbn">D. Amarillo</h5>
          <p class="text-muted fs12"> Involved in #889, #454</p>
        </div>
      </div>
    </div>
  </aside>