﻿{% extends "frontend/base.html" %}
{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}


{% block body %}

<body class="minimal login-page">
<!-- Start: Main -->
<div id="main">
  <div id="content">
    <div class="row">
        <div id="page-logo"> <img src={% static "img/logos/logo-white.png" %} class="img-responsive" alt="logo"> </div>
    </div>
    <div class="row">
        <div class="panel-bg animated {% if form.errors %} shake{% endif %}" id="loginPanel">
        <div class="panel" >
            <div class="panel-heading"> <span class="panel-title"> <span class="glyphicon glyphicon-lock text-purple2"></span> {% trans "Sign in" %}</span></div>
          <div class="panel-body">
              <h2>{% trans "Welcome!" %}</h2>
              <form action="{% url "signin" %}?next={% url "profile" %}" id="loginForm" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span> </span>
                  {{ form.username }}
              </div>
                  {{ form.username.errors }}
            </div>
            <div class="form-group">
              <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span> </span>
                  {{ form.password }}
              </div>
                  {{ form.password.errors }}
            </div>
          </div>
          <div class="panel-footer">
              <a class="btn btn-sm bg-purple2 pull-right" onclick="$('#loginForm').submit()" href="#" id="loginButton"><i class="fa fa-sign-in"></i> {% trans "Login" %}</a>

              <input type="submit" style="display:none;">
              <span class="text-muted fs12">
                <a href="{% url "resetpass" %}"> {% trans "Forgotten password?" %}</a> <br>
                <a href="{% url "signup" %}"> {% trans "Don't have an account? Sign up free." %}</a>
            </span>

            <div class="clearfix"></div>
            <br>
            <p class="text-center" style="border-top: solid thin #D6D7DB;" ><b>or</b> sign in with</p>
            <span>
              <a class="btn bg-light3 border-light6" href="#" style="width:30%; margin:0px 5px 0px 5px;"><i class="fa fa-google"></i> Google</a>
              <a class="btn bg-light3 border-light6" href="#" style="width:30%; margin:0px 5px 0px 5px;"><i class="fa fa-facebook-square"></i> Facebook</a>
              <a class="btn bg-light3 border-light6" href="#" style="width:30%; margin:0px 5px 0px 5px;"><i class="fa fa-twitter-square"></i> Twitter</a>
            </span>
          </div>
         </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="overlay-black"></div>

</body>
<!-- End: Main -->
{% endblock %}
