﻿{% extends "frontend/base.html" %}
{%  load staticfiles %}
{% load thumbnail %}
{% load i18n %}


{% block body %}
<!-- Start: Main -->
<body class="minimal login-page">
    <div id="main">
    <div id="content">
        <div class="row">
            <div id="page-logo"> <img src={% static "img/logos/logo-white.png" %} class="img-responsive" alt="logo"> </div>
        </div>
        <div class="row">
        <div class="panel-bg animated {% if form.errors %} shake{% endif %}">
            <div class="panel">
                <form action="{% url "signup" %}" method="POST" id="signupForm" >
            <div class="panel-heading"> <span class="panel-title"> <span class="fa fa-user text-purple2"></span> Sign up </span> </div>
            <div class="panel-body">
                    {% csrf_token %}
                <div class="form-group">
                    <div class="input-group"> <span class="input-group-addon">{% trans "First name" %}</span>
                        {{ form.firstname }}
                </div>
                        {{ form.firstname.errors }}
                </div>
                <div class="form-group">
                    <div class="input-group"> <span class="input-group-addon">{% trans "Last name" %}</span>
                        {{ form.lastname }}
                </div>
                        {{ form.lastname.errors }}
                </div>
                <div class="form-group">
                    <div class="input-group"> <span class="input-group-addon">{% trans "Username" %} </span>
                        {{ form.username }}
                </div>
                        {{ form.username.errors }}
                </div>
                <div class="form-group">
                    <div class="input-group"> <span class="input-group-addon">{% trans "Password" %} </span>
                        {{ form.password }}
                </div>
                        {{ form.password.errors }}
                </div>
                <div class="form-group">
                    <div class="input-group"> <span class="input-group-addon">{% trans "Email address" %}</span>
                        {{ form.email }}
                </div>
                        {{ form.email.errors }}
                </div>
                <div class="form-group">
                    <div class="input-group"> <span class="input-group-addon">{% trans "ID Card nr." %} </span>
                        {{ form.idcard }}
                </div>
                        {{ form.idcard.errors }}
                </div>
                <div class="checkbox">
                <label>
                    {{ form.terms }}{% trans "I accept the "%} <a href="privacy.php">{% trans "privacy policy" %}</a> {% trans "and" %} <a href="privacy.php">{% trans "customer agreement" %}</a>
                </label>
                        {{ form.terms.errors }}
                </div>


            </div>
            <div class="panel-footer">
                <a class="btn btn-sm bg-purple2 pull-right" onclick="$('#signupForm').submit()" href="#"><i class="fa fa-check-circle"></i> {% trans "Create account" %}</a>
                <input type="submit" style="display:none;">

                <span class="text-muted fs12">
                    <a href="{% url "signin" %}"> {% trans "Have an account already? Log in here." %}</a>
                </span>
                <div class="clearfix"></div>
            </div>
            </div>
                </form>
        </div>
        </div>
    </div>
    </div>
    <!-- End: Main -->
    {% include "frontend/footer.html" %}

    <div class="overlay-black"></div>
</body>
{% endblock %}
