/*=================================================
 * This file is reserved for changes made by 
 * the user. It's often times a good idea to 
 * seperate your changes from the themes core.
 * It makes modifications, and future theme
 * updates much easier to apply.
================================================= */
/* These styles have been placed here for as 
 * they have a high chance of needing to be
 * changed if one decides to modify the header
-----------------------------------------------*/
/* Header button states - text colors */
.navbar-menus > div > button:focus {
  color: #666; }

.navbar-menus > div > button:hover {
  color: #333; }

/* Place your custom styles or styles which
 * have been generated with the customization
 * tool below this line.
-----------------------------------------------*/


.fixed-footer {
  position: fixed;
  bottom:0px;
  width:100%;
  left:0px;
  color: #ccc;
  text-align: center;
  font-size: 10px;
  margin-bottom:5px;



}

.errorlist
{
  color :rgb(200,0,0);
  list-style: none;
  font-size: smaller;
}

#templatePreview {
    background-color: #fff;
    border: solid thin rgba(150,150,150,0.5);
    padding: 3em 3em 3em 3em;
    box-shadow: 2px 1px 2px rgba(0,0,0,0.8);
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
